* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding-top: 160px;
    background-image: url(https://i.ibb.co/hDG4LMD/image.jpg);
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    background-position: center 19%;
}

h1 {
    color: #151718;
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 64px;
}

h1 span {
    color: #DB2777;
}

p {
    margin-bottom: 72px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #2C2E2F;
    opacity: .9;
}

a {
    padding: 16px 32px;
    text-decoration: none;
    color: #151718;
    font-size: 24px;
    font-family: 'Cinzel', serif;
}

a:hover,
.travel {
    background-color: #DB2777;
    color: #FFFFFF;


}